FORMAT: 1A
HOST: http://factory.zone/api/v1/

# Project API 
Provides services for Project features 

# Group Projects 
Access to Project Resources

All requests must be authenticated 

## Projects [/projects{?search_param,page,size}]

### Create Project [POST]
Create a Project owned by the currently authenticated user.

The API endpoint may refuse to complete the request if the authenticated user has exceeded the total number of allowed projects for his or her account.

+ Request (application/json)
    +   Headers 
            
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0
    + Body
            
            {
                "projectName" : "Loon"
                "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                "projectDescription" : "Make Internet Baloons"
                "projectDeadline" : "2018-01-31 00:00:01"
            }    

+ Response 201 (application/json)

    + Headers 
        
            Location: /projects/:id
    
    + Body
    
            {
                "user_id":2
                "company_id":1
                "department_id": 2
                "project_id": 1
                "projectName" : "Loon"
                "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                "projectDescription" : "Make Internet Baloons"
                "createdAt" : "2017-6-21 08:12:05"
                "projectStatus" : 1
                "projectDeadline" : "2018-01-31 00:00:01"
                "is_archived": false
            }

### List Projects [GET]

+ Parameters
    + page(required, number,`1`)...'page' number
    + size(required, number, `10`)... page 'size'
+ Request

    +   Headers 
            
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0
    
+ Response 200 (application/json)
 
    + Headers
        
            ETag : "euyfewuyfvew76f7"
            cache-control: max-age=600
    + Body        
        
            {
                "page":
                {
                    "number":1,
                    "size":10 
                    "totalPages": 20
                },
                "projects":
                [
                    {
                        "user_id":5
                        "company_id":3
                        "department_id": 2
                        "project_id": 1
                        "projectName" : "Ara"
                        "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                        "projectDescription" : "Create modular phones"
                        "createdAt" : "2017-6-21 08:12:05"
                        "projectStatus": 1
                        "projectDeadline" : "2017-12-01 13:21:14"
                        "is_archived": false
                    },
                    {
                        "user_id":2
                        "company_id":1
                        "department_id": 3
                        "project_id": 1
                        "projectName" : "Tango"
                        "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                        "projectDescription" : "Make augumented reality real"
                        "createdAt" : "2016-09-12 02:2:45"
                        "projectStatus": 3
                        "projectDeadline" : "2018-1-01 12:00:00"
                        "is_archived": false
                    },
                    {
                        "user_id":3
                        "company_id":1
                        "department_id": 3
                        "project_id": 1
                        "projectName" : "Waymo"
                        "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                        "projectDescription" : "Create self-driving cars"
                        "createdAt" : "2016-09-12 02:2:45"
                        "projectStatus" : 2
                        "projectDeadline" : "2018-1-01 12:00:00"
                        "is_archived": true
                    } 
                ]
            }

## Project [/projects/{project_id}]

+ Parameters
    + project_id(required, number,`1`)

### View Project [GET]

+ Request

    +   Headers 
            
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0
    
+ Response 200 (application/json)
 
    + Headers
        
            ETag : "euyfewuyfvew76f7"
            cache-control: max-age=600
    + Body
            
            {
                "user_id" : 3  
                "company_id" : 1
                "department_id" : 2
                "projectName" : "Ara"
                "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                "projectDescription" : "Create modular phones"
                "createdAt" : "2017-6-21 08:12:05"
                "projectStatus" :3
                "projectDeadline" : "2017-12-01 13:21:14"
                "is_archived": false
            }

### Edit Project [PUT]
+ Request (application/json)

    +   Headers 
            
            Authorization: Basic dXNlcjpwYXNzd29yZA==
            x-api-version: 1.0
    + Body
            
            {
                "projectName" : "Loon"
                "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                "projectDescription" : "Make Baloons That Grant Internet Access"
                "projectStatus" : 3
                "projectDeadline" : "2018-01-31 00:00:01"
                "is_archived": true
            }    
        
            
            
+ Response 200 (application/json)

    + Headers 
        
            Location: /projects/:id
    
    + Body
    
            {
                "company_id":1
                "department_id":2
                "user_id":4
                "projectName" : "Loon"
                "projectImagePath" : "http//factory.zone/Projects?id=1/image.png"
                "projectDescription" : "Make Baloons That Grant Internet Access"
                "createdAt" : "2017-6-21 08:12:05"
                "projectStatus" : 3
                "projectDeadline" : "2018-01-31 00:00:01"
                "is_archived": true
                "updatedAt": "2017-6-21 11:10:35"
            }
       
### Delete Project [DELETE]

+ Response 204